<<<<<<< HEAD
body {
	background-color: #00bdff;
}

.AdminLoginBody, .AddNewBranchMain, .MainMenuTitle {
	text-align: center;
}

.inputBox {
	margin-top: 50px;
	margin: -10px;
	width: 50%;
	border-radius: 7px;
	border: 1px solid grey;
	height: 20px;
}

.UsernameCredential, .PasswordCredential, .AddBranchBody, .MainMenuBody {
	padding-top: 30px;
	display: block;
	text-align: center;
	margin: 10px;
}

.paragraphCredential {
	margin:  5px;
	margin-left: 25%;
	font-size: 13px;
	text-align: left;
}


.filterMenuCss{
	display: block;
	background-color: #32CD32; /*limegreen*/
	color: white;
	border-radius: 12px;
	border: 1px solid grey;
	padding: 8px 10px;
	font-size: 14px;
	margin:  10px 2px;
	cursor: pointer;
	position: relative;
	top: 400px;
}

.square{
	height: 500px;
	width: 500px;
	background-color: white;
	position: relative;
	left: 150px;
	bottom: 100px;
}

.addBranchMenuCss, .deleteBranchMenuCss, .editBranchMenuCss{
	display: block;
	background-color: #32CD32; /*limegreen*/
	color: white;
	border-radius: 12px;
	border: 1px solid grey;
	padding: 8px 10px;
	font-size: 14px;
	margin:  10px 2px;
	cursor: pointer;
}

.addBranchMenuCss:active, .deleteBranchMenuCss:active, .editBranchMenuCss:active{
	position: relative;
	top: 1px;
	
}

.LoginButton, .addBranchCss, .homeButtonCss, .deleteBranchCss {
	border-radius: 12px;
	border: 1px solid grey;
	padding: 8px 40px;
	font-size: 14px;
	margin:  30px 2px;
	cursor: pointer;
}

.ViewGuest {
	display: block;
	text-align: center;
	margin: 78px;
}

.ViewParagraph {
	margin:  -15px;
	font-size: 25px;
}

.LoginButton:active, .addBranchCss:active, .deleteBranchCss:active, .editBranchCss:active {
	position: relative;
	top: 1px;
}

.UsernameHyperLink {
	font-size: 13px;
	margin-right: 5%;
}

.PasswordHyperLink {
	font-size: 13px;
	margin-left: 5%;
}
||||||| empty tree
=======
body {
	background-color: #00bdff;
}

.AdminLoginBody, .AddNewBranchMain {
	text-align: center;
}

.inputBox {
	margin-top: 50px;
	margin: -10px;
	width: 50%;
	border-radius: 7px;
	border: 1px solid grey;
	height: 20px;
}

.UsernameCredential, .PasswordCredential, .AddBranchBody {
	padding-top: 30px;
	display: block;
	text-align: center;
	margin: 10px;
}

.paragraphCredential {
	margin:  5px;
	margin-left: 25%;
	font-size: 13px;
	text-align: left;
}

.LoginButton, .addBranchCss, .homeButtonCss {
	border-radius: 12px;
	border: 1px solid grey;
	padding: 8px 40px;
	font-size: 14px;
	margin:  30px 2px;
	cursor: pointer;
}

.ViewGuest {
	display: block;
	text-align: center;
	margin: 78px;
}

.ViewParagraph {
	margin:  -15px;
	font-size: 25px;
}

.LoginButton:active, .addBranchCss:active {
	position: relative;
	top: 1px;
}

.UsernameHyperLink {
	font-size: 13px;
	margin-right: 5%;
}

.PasswordHyperLink {
	font-size: 13px;
	margin-left: 5%;
}
>>>>>>> 5aca30f14c951e38e8c9dd4c304488e00dceb151
